/////
// FORMULÁRIO LOGIN
//////////


p {
    color: red;
}
vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  background-image: url(../img/login_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  padding-top: 70px;
}

.formbg {
    background-image: url(../img/login_form_background.png);
    background-repeat: repeat;
    padding-top:20px;
    padding-bottom:25px;
    padding-left:-10px;
    padding-right:-10px;
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.pricetotal {
    
    border-bottom: 1px solid #D45744;
    padding:5px;
    margin:3px;
    margin-left:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navpainel-top {
   border-top: 3px solid #D45744;
}

.navpainel-bottom {
   border-bottom: 3px solid #D45744;
}

/////
// FONTES DO SISTEMA
//////////

@font-face
{
   font-family: Roboto;
   src: url('fonts/roboto-black.eot');
   src: url('fonts/roboto-black.eot?iefix') format('embedded-opentype'),
        url('fonts/roboto-black.ttf') format('truetype');
}
@font-face
{
   font-family: "Roboto Light";
   src: url('fonts/roboto-light.eot');
   src: url('fonts/roboto-light.eot?iefix') format('embedded-opentype'),
        url('fonts/roboto-light.ttf') format('truetype');
}
